<h2>Dodaj odpowiedź dla pytania: @ViewData["Title"]</h2>

<form asp-controller="Survey" asp-action="CreateSurveyAnswer" method="post">
    <div asp-validation-summary="All"></div>
    Podaj treść odpowiedźi:<input type="text" name="content" />
    </br>
    <button type="submit">Dodaj następną opcję</button>
</form>

<form asp-controller="Survey" asp-action="CreateSurveyQuestion" method="get">
    </br>
    <button type="submit">Dodaj następne pytanie</button>
</form>

<form asp-controller="Survey" asp-action="SurveyCreator" method="get">
    </br>
    <button type="submit">Zakończ tworzenie ankiety</button>
</form>


@ViewBag.info
