<h2>Stwórz pytanie dla ankiety: @ViewData["Title"]</h2>

<form asp-controller="Survey" asp-action="CreateSurveyQuestion" method="post">
    <div asp-validation-summary="All"></div>
    Podaj treść pytania:<input type="text" name="content" />
    </br>
    <button type="submit">Przejdź dalej</button>
</form>

@ViewBag.info
