@{
    ViewData["Title"] = "SurveyStatsFilter";
}

<div class="page-wrapper">

<h2>Filtruj:</h2>

<form>

    <div id="filter-div">
    </div>

</form>

</div>

<script src="~/js/filterStats.js"></script>

@ViewBag.info
