@{
    ViewData["Title"] = "SurveyStats";
}

<h2>Pytania:</h2>
<div class="page-wrapper">
<form>

    <div id="question-list">
    </div>

</form>

</div>



<script src="~/js/listStats.js"></script>

@ViewBag.info
