@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centered-vertical">
    <h1 class="display-4">Witaj w kreatorze ankiet.</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
