
@{
    ViewData["Title"] = "SurveyChooser";
}

<div class="form-wrapper">

    <h2>Wybierz Ankietę</h2>

    <form>

        <div id="survey-list">
        </div>

    </form>

</div>


<script src="~/js/listSurveys.js"></script>

@ViewBag.info
