@{
    ViewData["Title"] = "SurveyCompleter";
}

<h2>Pytania:</h2>

<div class="page-wrapper">

    <form>

        <div id="question-list">
        </div>

    </form>

</div>

<script src="~/js/listQuestions.js"></script>

@ViewBag.info
